

header {
    height: 60px;
    background-image: linear-gradient(
      to right,
      rgb(14, 28, 104),
      cornflowerblue
    );
  }
  .h2{
    color:  rgb(32, 53, 173);
  }
  p {
    font-weight: bolder;
    margin-left: 5px;
  
  }
  
  .hidden{
    visibility: hidden;
    
  }
  .bkg{
    background-color: cornflowerblue;
  }

  .uv-index-green {
    padding: 1px 5px;
    background-color: green;
    border-radius: 5px;
  }
  .uv-index-yellow {
    padding: 1px 5px;
    background-color: yellow;
    border-radius: 5px;
  }
  .uv-index-red {
    padding: 1px 5px;
    background-color: rgb(226, 59, 59);
    border-radius: 5px;
  }
  h4{
    color: rgb(32, 53, 173);
  }