header {
    height: 60px;
    background-image: linear-gradient(
      to right,
      rgb(83, 115, 255),
      rgb(42, 27, 83)
    );
  }
  
  /*List styling*/
  
  /* ul {
    margin-top: 10px;
  }
  
  ul li {
    margin: 10px;
  } */
  .hidden{
    visibility: hidden;
    
  }
  .bkg{
    background-color: cornflowerblue;
  }

  .uv-index-green {
    padding: 1px 5px;
    background-color: green;
    border-radius: 5px;
  }
  .uv-index-yellow {
    padding: 1px 5px;
    background-color: yellow;
    border-radius: 5px;
  }
  .uv-index-red {
    padding: 1px 5px;
    background-color: rgb(226, 59, 59);
    border-radius: 5px;
  }